body {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;

    background: url();
}

mark {
    font-family: 'Raleway', sans-serif;
    background-color: yellow;
 }

.box-centrato {
    display: inline-block;
    margin: 15% auto;
}

h4 {
    margin-top: 4em;
}

a {
    margin-top: 1em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: line-through; 
}